{% extends "base.html" %}
{% block content %}
    <h2 class="center-align">Aggiungi Nuova Password</h2>
    <div class="row">
        <form class="col s12" method="POST">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="input-field col s12">
                    {{ form.name.label }}
                    {{ form.name(class_="validate") }}
                    {% for error in form.name.errors %}
                        <span class="helper-text red-text">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form.username_entry.label }}
                    {{ form.username_entry(class_="validate") }}
                    {% for error in form.username_entry.errors %}
                        <span class="helper-text red-text">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form.password_entry.label }}
                    {{ form.password_entry(class_="validate") }}
                    {% for error in form.password_entry.errors %}
                        <span class="helper-text red-text">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form.master_password.label }}
                    {{ form.master_password(class_="validate") }}
                    {% for error in form.master_password.errors %}
                        <span class="helper-text red-text">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="row center-align">
                <button type="submit" class="btn waves-effect waves-light light-blue darken-3">
                    Aggiungi Password
                    <i class="material-icons right">add_circle</i>
                </button>
            </div>
        </form>
    </div>
{% endblock %}
